body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe0f0;
}

.container {
    text-align: center;
}

#gifs {
    width: 400px;
    height: 400px;
}

.questionStr {
    margin-top: 20px;
    font-size: 24px;
    color: #d6336c;
}

.yes_btn, .no_btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.yes_btn {
    background-color: #28a745;
}

.no_btn {
    background-color: #dc3545;
}

.yes_btn, .no_btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    border: none; /* Removes the default border */
    font-size: 16px; /* Adjust font size as needed */
    background-color: #28a745; /* Green for yes button */
    outline: none; /* Removes the outline on focus */
}

.no_btn {
    background-color: #dc3545; /* Red for no button */
}

/* Optionally, you can add :hover styles for better interactivity */
.yes_btn:hover, .no_btn:hover {
    opacity: 0.8;
}
